@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply mx-auto max-w-screen-2xl;
}

.text-primary {
    color: #005cbb
}

.match-input-height {
    height: var(--mat-form-field-container-height) !important;
    border-radius: 0.5rem !important;
}

.mdc-notched-outline__notch {
    border-right-style: none !important;
}